In [1]:
#Kafka lifehacks
"""
new topic - kafka-topics --create --topic quickstart-events --bootstrap-server localhost:9092
delete topic - kafka-topics --bootstrap-server localhost:9092 --delete --topic quickstart-events
produce - kafka-console-producer --topic quickstart-events --bootstrap-server localhost:9092
consume - kafka-console-consumer --topic quickstart-events --from-beginning --bootstrap-server localhost:9092
"""

#import bibliotek
import json
from kafka import KafkaProducer

In [2]:
# topic = 'quickstart-events'
# producer = KafkaProducer(bootstrap_servers=['127.0.0.1:9092'])

# pr = KafkaProducer(bootstrap_servers=['localhost:9092'], value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [3]:
topic = 'supertest'

pr = KafkaProducer(bootstrap_servers=['ec2-34-237-48-233.compute-1.amazonaws.com:9092'],                                                        value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [11]:
#testowe wiadomo≈õci
pr.send(topic, {'name' : "Adam Duda", 
                'age' : "88",
                'job' : "entrepreneur",
                'marital' : "married",
                'education' : "high.school",
                'default' : "no",
                'housing' : "no",
                'loan' : "no"})

In [5]:
pr.send(topic, {'name' : "Peter Green", 
                'age' : "45",
                'job' : "entrepreneur",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "no",
                'housing' : "yes",
                'loan' : "no"})

In [6]:
pr.send(topic, {'name' : "John Doe", 
                'age' : "28",
                'job' : "management",
                'marital' : "single",
                'education' : "university.degree",
                'default' : "yes",
                'housing' : "yes",
                'loan' : "yes"})

In [13]:
pr.send(topic, {'name' : "Morty Smith", 
                'age' : "14",
                'job' : "unknown",
                'marital' : "single",
                'education' : "school",
                'default' : "false",
                'housing' : "false",
                'loan' : "false"})

In [4]:
pr.send(topic, {'name' : "Rick Sanchez", 
                'age' : "79",
                'job' : "retired",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "no",
                'housing' : "yes",
                'loan' : "yes"})

In [7]:
import pandas as pd

In [13]:
pd.read_csv('clients2.csv')

,id,name,age,job,marital,education,default,housing,loan,prediction
0,70614949-552c-4760-ab75-0f4aa737030a,Rick Sanchez,79,retired,divorced,university.degree,no,yes,yes,1
1,bbe009f9-0773-4f19-a1af-017d00bf3880,Morty Smith,14,unknown,single,school,false,false,false,0
2,3392b40a-5c35-408c-881f-db785b06184f,Karol Duda,30,entrepreneur,married,high.school,no,no,no,0
3,c52446fe-9e79-45f6-aba8-deffc32a0b23,Peter Green,45,entrepreneur,divorced,university.degree,no,yes,no,0
4,868f5467-1821-426d-8e2f-245f3f9976ae,John Doe,28,management,single,university.degree,yes,yes,yes,0
5,2d1e9f84-93a6-4897-acdf-d43d940235fd,John Rambo,74,retired,divorced,unknown,no,yes,yes,0
6,381005c9-4306-43c3-be67-0f921e5c6829,Jan Kowalski,22,retired,divorced,unknown,no,no,yes,0
7,69acb7e3-c3c3-4eb3-ad16-df3e440b7674,Adam Duda,88,entrepreneur,married,high.school,no,no,no,0
8,5c60f017-5d2d-4da7-9fdc-e3f1716c905a,Benny Hill,80,retired,married,unknown,no,yes,no,1
9,a7503191-5e94-4eab-beec-718f86faf7a0,Benny Hill,80,retired,married,unknown,no,yes,no,1