In [1]:
#Kafka lifehacks
"""
new topic - kafka-topics --create --topic quickstart-events --bootstrap-server localhost:9092
delete topic - kafka-topics --bootstrap-server localhost:9092 --delete --topic quickstart-events
produce - kafka-console-producer --topic quickstart-events --bootstrap-server localhost:9092
consume - kafka-console-consumer --topic quickstart-events --from-beginning --bootstrap-server localhost:9092
"""

#import bibliotek
import json
from kafka import KafkaProducer

In [2]:
# topic = 'quickstart-events'
# producer = KafkaProducer(bootstrap_servers=['127.0.0.1:9092'])

# pr = KafkaProducer(bootstrap_servers=['localhost:9092'], value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [2]:
topic = 'supertest'

pr = KafkaProducer(bootstrap_servers=['ec2-34-237-48-233.compute-1.amazonaws.com:9092'],                                                        value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [4]:
#testowe wiadomo≈õci
pr.send(topic, {'name' : "Karol Duda", 
                'age' : "30",
                'job' : "entrepreneur",
                'marital' : "married",
                'education' : "high.school",
                'default' : "no",
                'housing' : "no",
                'loan' : "no"})

In [5]:
pr.send(topic, {'name' : "Peter Green", 
                'age' : "45",
                'job' : "entrepreneur",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "no",
                'housing' : "yes",
                'loan' : "no"})

In [6]:
pr.send(topic, {'name' : "John Doe", 
                'age' : "28",
                'job' : "management",
                'marital' : "single",
                'education' : "university.degree",
                'default' : "yes",
                'housing' : "yes",
                'loan' : "yes"})

In [17]:
pr.send(topic, {'name' : "Bill White", 
                'age' : "55",
                'job' : "unknown",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "test_wrong",
                'housing' : "test_wrong",
                'loan' : "test_wrong"})

In [3]:
pr.send(topic, {'name' : "Imie Nazwisko", 
                'age' : "79",
                'job' : "retired",
                'marital' : "divorced",
                'education' : "unknown",
                'default' : "no",
                'housing' : "yes",
                'loan' : "yes"})

In [9]:
import pandas as pd

In [13]:
pd.read_csv('clients2.csv', header=None)

,0,1,2,3,4,5,6,7,8,9
0,0f2979fd-14e9-457e-a852-87b485eba66d,Karol Duda,30,entrepreneur,married,high.school,no,no,no,0
1,d7b06931-7f65-41b6-9d86-1f77a8d9c371,Peter Green,45,entrepreneur,divorced,university.degree,no,yes,no,0
2,81a243dd-73a3-4296-8620-5261975a61f7,John Doe,28,management,single,university.degree,yes,yes,yes,0
3,e8a9ab36-e143-4855-bad9-93d05b4a0464,Test_user2,55,management,divorced,university.degree,no,no,no,0
4,6d1bd666-2e3c-4aff-9c81-77b54226ceee,Test_66,85,retired,married,unknown,no,no,no,1
5,4019551c-80b3-4caa-8a3a-a88e5380c857,Andrzej Popov,69,retired,married,unknown,no,yes,yes,0