In [1]:


#Kafka lifehacks
"""
new topic - kafka-topics --create --topic quickstart-events --bootstrap-server localhost:9092
delete topic - kafka-topics --bootstrap-server localhost:9092 --delete --topic quickstart-events
produce - kafka-console-producer --topic quickstart-events --bootstrap-server localhost:9092
consume - kafka-console-consumer --topic quickstart-events --from-beginning --bootstrap-server localhost:9092
"""

#import bibliotek
import json
from kafka import KafkaProducer

In [2]:
topic = 'quickstart-events'
producer = KafkaProducer(bootstrap_servers=['127.0.0.1:9092'])

pr = KafkaProducer(bootstrap_servers=['localhost:9092'], value_serializer=lambda x: json.dumps(x).encode('utf-8'))

In [3]:
#testowe wiadomo≈õci
pr.send(topic, {'name' : "Karol Duda", 
                'age' : "30",
                'job' : "entrepreneur",
                'marital' : "married",
                'education' : "high.school",
                'default' : "no",
                'housing' : "no",
                'loan' : "no"})

In [4]:
pr.send(topic, {'name' : "Peter Green", 
                'age' : "45",
                'job' : "entrepreneur",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "no",
                'housing' : "yes",
                'loan' : "no"})

In [10]:
pr.send(topic, {'name' : "John Doe", 
                'age' : "28",
                'job' : "management",
                'marital' : "single",
                'education' : "university.degree",
                'default' : "yes",
                'housing' : "yes",
                'loan' : "yes"})

In [11]:
pr.send(topic, {'name' : "Test_user2", 
                'age' : "55",
                'job' : "management",
                'marital' : "divorced",
                'education' : "university.degree",
                'default' : "no",
                'housing' : "no",
                'loan' : "no"})

In [12]:
import pandas as pd

In [13]:
pd.read_csv('clients.csv', header=None)

,0,1,2,3,4,5,6,7,8
0,03f16408-6faf-4458-8b7e-bf64f675ea5b,Karol Duda,30,entrepreneur,married,high.school,no,no,no
1,f4fea15b-c700-41df-ad43-8803fe0714c2,Peter Green,45,entrepreneur,divorced,university.degree,no,yes,no
2,b4a9f9a5-ac2b-40f7-8841-3b642ab45e71,Lence Doe-Marrow,28,management,divorced,university.degree,yes,yes,yes
3,58d65104-c7ee-455d-9f6f-9eb401f69fce,Test_user,23,management,divorced,university.degree,no,no,no
4,4b7e3d9a-0786-4368-9fc9-d67c3bd0e905,John Doe,28,management,single,university.degree,yes,yes,yes
5,16bcab55-f090-4c60-b8fc-40f2c5b71368,Test_user2,55,management,divorced,university.degree,no,no,no